
/* Variables */
$primary-color: teal;
$nav-height: 3em;

/* Utility Classes */
.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Global / Top Level */
* { box-sizing: border-box; }
body {
    margin: 0;
    font-family: 'helvetica';
    font-size: 1.2em;
    a { font-size: 1em; }
}
#root>* {
    padding-top: $nav-height;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    width: 980px;
    margin: 0.5em;
}

/* Buttons */
@mixin btn-hover-animation {
    &:hover {
        background-color: darken($primary-color, 5%);
    }
    transition: background-color 0.2s;
}
button, .button, input[type=button], input[type=submit] {
    @include btn-hover-animation;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    border: none;
    background-color: teal;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: white;
}

/* Text Inputs */
input[type=text], input[type=password] {
    background-color: white;
    border: 1px solid #999;
    padding: 0.5em;
}

/* Forms */
form {
    display: inline-block;
    background-color: white;
    padding: 1em;
    input {
        &[type=text], &[type=password] {
            margin-top: 0.4em;
            width: 100%;
        }
        font-size: 1em;
    }
    width: 600px;
    >div:last-child {
        margin-top: 0.4em;
        display: flex;
        justify-content: space-between;
        span {
            text-align: right;
            padding-top: 0.2em;
        }
    }
}
.error {
    height: 1.2em;
    color: red;
    text-align: left;
}

/* Modal */
@mixin modal-animation {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes shift-vertically {
    from { top: 1em; }
    to   { top: 2em; }
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    &.visible {
        visibility: visible;
        animation-name: appear;
        @include modal-animation;

        .modal {
            animation-name: shift-vertically;
            @include modal-animation;
        }
    }

    .modal {
        display: inline-block;
        text-align: center;
        padding: 1.2em;
        margin-top: -20vh;
        position: relative;
        background-color: white;
    }

    .close-btn {
        cursor: pointer;
        position: absolute;
        height: 1em;
        width: 1em;
        top: 0.5em;
        right: 0.5em;
    }
}

/* Navigation bar */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0; 
    background-color: rgb(40, 145, 145);
    width: 100vw;
    color: white;
    & > div:first-child, & > div:last-child > *:not(.menu) {
        height: $nav-height;
        padding: 0 1em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &.clickable {
            & > *:not(:last-child) {
                margin-right: 1em;
            }
            cursor: pointer;
            @include btn-hover-animation;
        }
    }
    a { 
        text-decoration: none;
        &:visited {
            color: white;
        }
    }
}

/* Menus */
.menu {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    top: 3em;
    right: 0;
    border: 1px solid #888;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    > div {
        display: block;
        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }
        padding: 0.5em 1em;
    }
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    thead {
        font-weight: bold;
    }
    tr {
        border-bottom: 1px solid #888;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    tbody tr:hover {
        cursor: default;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    }
    td, th {
        padding: 0.5em;
    }
}
div.no-data {
    border-top: 1px solid #888;
    text-align: center;
}

/* Checkbox */
.checkbox {
    position: relative;
    height: 1em;
    width: 1em;
    svg {
        position: absolute;
        &:first-child {
            top: 0;
            left: 0;
            color: #777
        }
        &:last-child {
            top: -0.1em;
            left: 0.1em;
            color: green
        }
    }
}